
body {
background-image: url("back1.png");


}


#panel {
border-style:solid;
border:1 px solid;
border-color:grey;
border-radius: 15px;
text-align: center;
width: 650px;
margin-left: auto;
margin-right: auto;
padding: 10px;

}

.button {
width:85px;
}
.status {
margin-left: auto;
margin-right: auto;
text-align: center;
border-style:solid;
border:1 px solid;
border-radius: 15px;
border-color:grey;
background-color:black;

}



.title {
text-align: center;
}
form {
display:inline;

}

.center {
text-align: center;
}
.output {
margin-left: auto;
margin-right: auto;
text-align: center;
}

span {
text-align:center;
display:inline-block;

width:25%;
}


.data {
text-align:center;
color:white;

}


.alert {
margin-left: auto;
margin-right: auto;
text-align: center;
border-style:solid;
border:1 px solid;
border-radius: 15px;
border-color:grey;
background-color:blue;